.navButtons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.circle {
    border: 2px solid yellow;
    border-radius: 1em;
    height: 0.75em;
    width: 0.75em;
    margin: 2.5px;
    cursor: pointer;
    transition: 0.5s;
}

.circle:hover {
    background: yellow;
}

.true {
    background: yellow;
}